@charset "utf=8";
@font-face {
   font-family:Champagne, Grunge, Dobkin;
   src:url(cac_champagne.woff,1942.woff,DobkinPlain.woff)format('woff'),
   url('cac_champagne.ttf,1942.ttf,DobkinPlain.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author:LaQuita Leachman    
   Date: 05/01/2025  
   
   Filename: ph_styles.css

*/


/* Structural Styles */
html{
   background-color: hsl (91,8%,56%);
}
body{
   color:rbg (58,31%,84%);
   background:black;
   font-family:Palatino,serif;
}
body > p {
   font-size: 1.1em;
   text-align: center;
 }



/* Navigation Styles */
nav a {
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   padding: 10px 0;
 }
 nav a:link, nav a:visited {
   color: white;
   text-decoration: none;
   background-color: hsla(0, 0%, 42%, 0.4);
}



/* Section Styles */
p {
   margin: 0;
   padding: 5px 25px;
 }





/* Description List Styles */

/* Footer Styles */
address {
   font-style: normal; /* Normal font style */
   font-size: 0.9em;   /* Reduced font size by 0.9 em */
   text-align: center;  /* Center the text horizontally */
   padding: 10px 0;    /* 10px top/bottom padding, 0 left/right padding */
 }

