@charset "utf=8";
@font-face {
   font-family:Champagne, Grunge, Dobkin;
   src:url(cac_champagne.woff,1942.woff,DobkinPlain.woff)format('woff'),
   url('cac_champagne.ttf,1942.ttf,DobkinPlain.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author:LaQuita Leachman    
   Date: 05/01/2025  
   
   Filename: ph_styles.css

*/


/* Structural Styles */

html{
   background-color: hsl (91,8%,56%);
}
body{
   color:rgb(58,31%,84%);
   font-family:Palatino,serif;
}
body > p {
   font-size: 1.1em;
   text-align: center;
 }
 p {
   margin: 0;
   padding: 5px 25px;
 }



/* Navigation Styles */
nav a {
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   padding: 10px 0;
 }
 nav a:link, nav a:visited {
   color: white;
   text-decoration: none;
   background-color: hsla(0, 0%, 42%, 0.4);
}
nav a:active,
nav a:hover {
  color: hsla(0, 0%, 100%, 0.7); /* White, 70% opacity */
  background-color: hsl(0, 0%, 42%, 0.7); /* Gray, 70% opacity */
}


/* Section Styles */


 section.playbill h1 {
   font-size: 3em;
   font-weight: normal;
   margin: 0px;
   padding: 20px 0px 10px 20px;
 }
 #play1 {
   background-color: hsl(240, 100%, 88%);
   font-family: Champagne, cursive;
 }
 
 #play2 {
   background-color: hsl(25, 88%, 73%);
   font-family: Grunge, 'Times New Roman', Times, serif;
 }
 
 #play3 {
   background-color: hsl(0, 100%, 75%);
   font-family: Impact, Charcoal, sans-serif;
 }
 
 #play4 {
   background-color: hsl(296, 86%, 86%);
   font-family: Dobkin, cursive;
 }



/* Description List Styles */
dd {
   font-size: 1.3em;
   margin-left: 0;
   margin-bottom: 10px;
 }
dt {
   font-size: 1.3em;
   font-weight: bold;
   color: hsla(0, 0%, 0%, 0.4);
}

/* Footer Styles */
address {
   font-style: normal; /* Normal font style */
   font-size: 0.9em;   /* Reduced font size by 0.9 em */
   text-align: center;  /* Center the text horizontally */
   padding: 10px 0;    /* 10px top/bottom padding, 0 left/right padding */
 }

