@charset "utf=8";
@font-face {
   font-family:Champagne, Grunge, Dobkin;
   src:url(cac_champagne.woff,1942.woff,DobkinPlain.woff)format('woff'),
   url('cac_champagne.ttf,1942.ttf,DobkinPlain.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author:LaQuita Leachman    
   Date: 05/01/2025  
   
   Filename: ph_styles.css

*/


/* Structural Styles */
html{
   background-color: hsl (91,8%,56%);
}
body{
   background-color:rgb (58,31%,84%);
   font-family:Palatino,serif;
}



/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

