/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author:LaQuita Leachman 
   Date:06/08/2025  

   Filename: rb_validate.css

*/


/* Validation Styles */

