@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author:LaQuita Leachman 
   Date:06/05/2025  

   Filename:         dlr_columns2.css

*/



/* Column Styles */
@media only screen and (min-width: 641px) {
}
@media (min-width: 768px) {
    p {
      column-count: 3;
      column-gap: 20px;
      column-rule: 1px solid black;
    }
  }


